# General
*.log
*.pyc
*.pyo
*.db
*.sqlite3
__pycache__/
*.egg-info

# Django
/db.sqlite3
/static
/media
/build

# Virtual Environment
venv/
.env

# IDE Specific (e.g., for VSCode, PyCharm)
.vscode/
.idea/

# Misc
.DS_Store
curls.md